<li>
  <div class="media">
  <%= link_to image_tag(item.photo_url(:thumb), class: "media-object thumbnail pull-left"), item_path(item) %>
   <div class="media-body"> 
  <span class="media-heading">[物品] <%= item.title %></span>
  <span class="condition">[狀況] <%= item.status %></span>
  <span class="price">[預售金額] <%= item.price %></span>
  <span class="description">[補充] <%= truncate(item.description, length: 50) %></span>
  <span class="timestamp">
    <%= item.user.email %>
    張貼在 <%= time_ago_in_words(item.created_at) %> 之前.
  </span>
  <% if item.user == current_user %>
    <%= link_to '移除', item, method: :delete %>
  <% end %>
  </div>
</li>

