<ul class="nav pills pull-right">

  <li class="dropdown">
    <a href="#" class="" data-toggle="dropdown">
        語系切換
    </a>
    <%= render_list :class => "dropdown-menu" do |li|
          li << link_to("中文版", :controller => controller.controller_name, 
             :action => controller.action_name, :locale => "zh-TW")
          li << link_to("English", :controller => controller.controller_name, 
             :action => controller.action_name, :locale => "en")
    end %>
  </li>

<!--     <li>
      <div class="social"> <%= fb_like(Setting.domain) %>  </div>
    </li> -->

  <% if current_user %>    

    <li class="dropdown">
      <%= link_to dashboard_path , :class => "dropdown-toggle", :data => { :toggle => "dropdown" } do %>
        <%= current_user.email %>
      <% end %>

      <%= render_list :class => "dropdown-menu" do |li|
          li << link_to("新增拍賣", new_item_path)
          li << link_to("我的拍賣", dashboard_path)
          li << link_to("登出",destroy_user_session_path, :method => :delete )
      end %>

    </li>

<% else %>
  <li> <%= link_to( "註冊" ,new_user_registration_path) %> </li>
  <li> <%= link_to( "登入", new_user_session_path )  %> </li>   
  <li> <%= link_to( "FB 登入", "/users/auth/facebook" )  %> </li>   
<% end %>


</ul>